.headerMe{
    text-align: center;
    color: #FF0197;
    background-color:#FECCFF ;
    padding: 15px;
}


/*.body-paragraph-1{
 text-align: center;
}

.body-paragraph-2{
    text-align: center;
}

.body-paragraph-3{
    text-align: center;
}*/